<div class="col-9">
    <!--Modal fade redes-->
    <div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header bg">
            <h5 class="modal-title" id="exampleModalLabel">Redes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="basic-url" class="form-label">Introducir URL</label>
              <span class="input-group-text" id="basic-addon3">https://example.com</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">GuardarCambios</button>
          </div>
        </div>
      </div>
    </div>
