<section id="proyectos" class="projects border border-dark">
  <div class="container text-start">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <br>
    </div>
    <div class="row d-flex align-items-center mb-3">
      <div class="col-3">
        <img class="img-fluid float-start" src="./assets/img/proyectos.jpg">
        </div>
      <div class="col-9 mt-4">
        <h1 class="proyectos mb-4">PROYECTOS</h1>
        <div class="proyectos" *ngFor="let proyecto of proyectos">
            <h4>&nbsp;{{proyecto.proyecto}} <img src={{proyecto.imagen}} class="rounded-circle float-end" alt="" width=""height=""></h4>
            <h5>{{proyecto.descripcion}}</h5>
            <p></p>
          </div>
        </div>
      
    </div>
  </div>
</section>