/*Seccion Proyectos*/
.projects {
    color:#ffffffb9;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    /*border-radius:3rem;*/
    box-shadow: 0.625rem 0.313rem 0.313rem #000000;
    margin-bottom:1rem; 
   }
.projects.border.border-dark:hover {
    box-shadow: 0.625rem 0.313rem 0.313rem  #d3d3d3;   
}

.rounded-circle {
    box-shadow: 0.315rem 0.310rem 0.310rem #ffffff;
    width: 16%;
}

h1 {
    color:#000000;
    text-shadow: #ffffff 0.1em 0.1em 0.1em;
}
h4{
    color: #000000;
}
.img-fluid {
    margin-left:-1rem;
    box-shadow: 0.625rem 0.313rem 0.313rem #260f70 ;
    border-radius: 0.5rem;
    cursor: pointer;
    transition:1s;
}
.img-fluid:hover {
    transform: scale(1.1);
    transition: 1s;
  }
