<section id="Acerca de mi " class="about border border-dark">
  <div class="container text-center">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3"></div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      
      <div class="col-2 mt-3" >
        <img
          src="{{ persona.imagen }}"
          class="rounded-circle w-100 border border-3"
          alt=""
          title=""/>
      </div>
      <div class="col-9 mt-3">
        <h1 class="about mb-4">ACERCA DE MI</h1>
        <h4>{{ persona.acercademi }}</h4>
      </div>
      
      <div class="col-1">
    </div>
    </div>
  </div>
</section>
