<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg">
        <h5 class="modal-title" id="exampleModalLabel">Experiencia Laboral </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" name="experienciaForm">
        <div class="modal-body">
          <ul class="p-0">
            <li *ngFor="let experiencia of experiencias" class="d-flex justify-content-between align-items-center m-1 ">
              <span>{{experiencia.id}}. {{experiencia.empresa}}</span>
              <span class="d-flex justify-content-between gap-2">
                <!--lapiz de edicion-->
                <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0"
                  (click)="cargarDetalle(experiencia.id)">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <!--boton eliminar-->
                <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0"
                  (click)="borrar(experiencia.id)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </span>
            </li>
          </ul>
          <!-- validacion  renderizado condicional-->
          <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
            <div class="input-group-prepend border-0">
              <span class="input-group-text border-0" id="basic-addon1">Id:</span>
            </div>
            <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
          </div>

          <div class="mb-3">
            <span class="input-group-text">Empresa</span>
            <input class="form-control" type="text" id="empresa" name="empresa" aria-label="With textarea"
              placeholder="Ingrese empresa" formControlName="empresa" [ngClass]="{'is-invalid':Empresa?.errors && Empresa?.touched,
            'is-valid':!Empresa?.errors && Empresa?.touched}">
            <div *ngIf="Empresa?.errors && Empresa?.touched">
              <p *ngIf="Empresa?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>

          </div>
          <div class="mb-3">
            <span class="input-group-text">Puesto</span>
            <input class="form-control" type="text" id="puesto" name="puesto" aria-label="With textarea"
              placeholder="Ingrese puesto" formControlName="puesto" [ngClass]="{'is-invalid':Puesto?.errors && Puesto?.touched,
            'is-valid':!Puesto?.errors && Puesto?.touched}">
            <div *ngIf="Puesto?.errors && Puesto?.touched">
              <p *ngIf="Puesto?.hasError('required')" class="text-danger">
                Campo obligatorio
              </p>
            </div>
          </div>
          <div class="mb-3">
            <span class="input-group-text">Tareas</span>
            <textarea class="form-control" type="text" id="tareas" name="tareas" aria-label="With textarea"
              placeholder="Escriba una descripcion" formControlName="tareas"></textarea>
          </div>
          <div class="mb-3">
            <span class="input-group-text">Inicio</span>
            <input class="form-control" type="date" id="inicio" name="inicio" aria-label="With textarea"
              formControlName="inicio">
          </div>
          <div class="mb-3">
            <label class="input-group-text">Fin</label>
            <input class="form-control" type="date" id="fin" name="fin" aria-label="With textarea"
              formControlName="fin">
          </div>
          <div class="mb-3">
            <span class="input-group-text">logo</span>
            <input class="form-control" type="text" id="logo" name="logo" aria-label="With textarea"
              placeholder="Nuevo logo" formControlName="logo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Cerrar</button>
          <button class="btn btn-outline-warning" (click)="form.reset()">Reset</button>
          <button type="button" class="btn btn-outline-info" (click)="onCreate()"
            [disabled]="form.invalid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>