/* Seccion experiencia*/
.experience {
    color:#ffffffb9;
    background-color: #0077c0;
   /* border-radius:3rem;*/
    box-shadow: 0.625rem 0.313rem 0.313rem #000000;
    margin-bottom:1rem;
} 
.border.border-dark:hover{
    box-shadow: 0.625rem 0.313rem 0.313rem  #d3d3d3;   
}
h1 {
 color: #000000;
 text-shadow: #ffffff 0.1em 0.1em 0.1em;
}

.text {
    color: #000000;
    text-decoration-line: underline;
}
 .img-fluid {
  margin-left:-1rem;
  box-shadow: 0.625rem 0.313rem 0.313rem #260f70;
  border-radius: 0.5rem;
  cursor: pointer;
  transition:1s;
  } 

  .img-fluid:hover {
    transform: scale(1.1);
    transition: 1s;
  }

   
.line {
    border-top: 0.063rem solid black;
    height: 0.125rem;
    padding: 0;
    margin: 0.125rem auto 0 auto;
    }

    
  
