<section id="experiencia" class="experience border border-dark">
    <div class="container text-start">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        </div>
       <div class="row align-items-center">
        <div class="col-2 mt-4">
          <h2>Experiencia Laboral</h2>
        </div>
        <div class="col-9 mt-4">
          <div class= "jobs mb-3" *ngFor="let trabajo of experiencias">
          <h4><span class= "text">Empresa:</span> {{trabajo.empresa}}</h4>
          <h4><span class="text">Puesto:</span> {{trabajo.puesto}}</h4>
          <h4><span class="text">Tareas:</span> {{trabajo.tareas}}</h4>
          <p>{{trabajo.inicio}}-{{trabajo.fin}}</p>
          
          </div>
          
          
        </div>
        <div class="col-1">
           </div>
          </div>
        </div> 
    </section> 

