<!-- Modal de Login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="loginform" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="user">Email</label>
            <div class="col-sm-10">
              <input class="form-control" type="email" placeholder="ingrese email" id="inputEmail"
                formControlName="email" [(ngModel)]="persona.email"
                [ngClass]="{'is-invalid':Email?.errors && Email?.touched,'is-valid':!Email?.errors && Email?.touched}">
              <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  Ingrese email valido.
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input class="form-control" type="password" id="inputPassword" placeholder="ingrese contraseña"
                formControlName="password" [(ngModel)]="persona.password" [ngClass]="{'is-invalid':Password?.errors && Password?.touched,
              'is-valid':!Password?.errors && Password?.touched}">
              <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                  La contraseña es requerida
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                  La contraseña debe tener 8 o más caracteres
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Iniciar Sesion</button>
        </div>
      </form>
    </div>
  </div>
</div>