<!-- Modal de Logout-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src=".\assets\img\logout icon.png" width="20%">
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-outline-info" (click)="cerrarSesion()">Cerrar Sesion</button>
      </div>
    </div>
  </div>
</div>