

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rampart One", cursive;
  scroll-behavior: smooth;
  }

   html{
    height: 100%;
    
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
  } 

/* Barra de Navegacion*/
nav.navbar.navbar-expand-lg.bg-secondary {
  background: #00d4ff;
  background: linear-gradient(
    0deg,
    #00d4ff 0%,
    #2418d6 22%,
    #0a1077 81%,
    #00d4ff 100%
    );
    
   }
 
/*Fondo de las secciones*/
main {
  background: linear-gradient(110.3deg, #495d6d 4.3%, #313752 96.7%);
  background-size: 100%;
}

/*ventanas Modales*/
.modal-header.bg {
  background-color: #0077c0;
  color:#000000;
 }
.modal-body{
  background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
}
.modal-footer{
    background: linear-gradient(110.3deg, #495d6d 4.3%, #313752 96.7%);
}
.input-group-text{
  background-color: #0077c0;
  color: #ffffff;
}

/* fondo de la página de administracion*/
.panel {
  background: linear-gradient(45deg, #ff0000, #0000ff, #00804f, #000000);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


/*estilos de la lista del dashboard*/
ul.list-group {
  --bs-list-group-bg: transparent;
 
}
.vinculo {
  text-decoration: none;
  color: #ffffff;
}
.list-group{
  margin-bottom:3rem;
}
.list-group-item {
  background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%, 
   rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );
  
  
}
.panel{
  min-height: 100vh;
  min-width: 100%
}

/* Footer*/
footer {
  background: #00d4ff;
  background: linear-gradient(
    0deg,
    #00d4ff 0%,
    #2418d6 22%,
    #0a1077 81%,
    #00d4ff 100%
    );
  
  margin-top: auto;
  color: #ffffff;
  }
 
 
